body{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.col-md-5{
    margin-top: 180px !important;
    background-color: white;
    padding: 20px;

}
input{
    margin-top: 10px !important;
}

button{
    margin-top: 20px !important;
    float: left;
}

